fastapi==0.110.0
uvicorn==0.27.1
psycopg2-binary==2.9.9
groq==0.4.1
httpx==0.25.2
apscheduler==3.10.4
pytz==2024.1
requests==2.31.0
openai==1.30.0
numpy<2
opencv-python-headless
easyocr
torch
torchvision